.header
  display: flex
  align-items: center
  justify-content: space-between
  background: #ff9d68
  .currencies
    width: 50%
    display: flex
    justify-content: space-between
    label, input
      cursor: pointer
  .amount
    display: flex


